<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

    <title>Portfolio</title>
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1"><img src="images/profile.png" alt=""></div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>
                    <div class="left_1-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector1.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector2.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector3.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector4.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector5.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector6.svg" class="icon-1">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="left_2-item">
                      <p class="left_2-item-label">Age:</p>
                      <p class="left_2-item-value"><%=user.age%></p>
                    </div>
                    <div class="left_2-item">
                      <p class="left_2-item-label">Residence:</p>
                      <p class="left_2-item-value"><%=user.residence%></p>
                    </div>
                    <div class="left_2-item">
                      <p class="left_2-item-label">Freelance:</p>
                      <p class="left_2-item-value"><span style="color: rgb(37, 154, 68);">Available</span></p>
                    </div>
                    <div class="left_2-item">
                      <p class="left_2-item-label">Address:</p>
                      <p class="left_2-item-value"><%=user.address%></p>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="left_3-item-languages">Languages</div>
                    <div class="left_3-item">
                      <p class="left_3-item-text"><%=user.language[0]%></p>
                      <p class="left_3-item-text">100%</p>
                    </div>
                    <div class="left_3-item-border">
                        <div class="left_3-item-border_inside"></div>
                    </div>
                   <div class="left_3-item">
                      <p class="left_3-item-text"><%=user.language[1]%></p>
                      <p class="left_3-item-text">80%</p>
                    </div>
                     <div class="left_3-item-border">
                        <div class="left_3-item-border_inside-2"></div>
                    </div>
                    <div class="left_3-item">
                      <p class="left_3-item-text"><%=user.language[2]%></p>
                      <p class="left_3-item-text">60%</p>
                    </div>
                     <div class="left_3-item-border">
                        <div class="left_3-item-border_inside-3"></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <div class="left_3-item-languages">Skills</div>
                    <div class="left_3-item">
                       <div class="left_3-item-text"><%=user.skills[0]%></div>
                       <div class="left_3-item-text">95%</div>
                    </div>
                    <div class="left_3-item-border">
                        <div class="left_3-item-border_inside-6"></div>
                    </div>
                    <div class="left_3-item">
                       <div class="left_3-item-text"><%=user.skills[1]%></div>
                       <div class="left_3-item-text">95%</div>
                    </div>
                    <div class="left_3-item-border">
                        <div class="left_3-item-border_inside-6"></div>
                    </div>
                    <div class="left_3-item">
                       <div class="left_3-item-text"><%=user.skills[2]%></div>
                       <div class="left_3-item-text">80%</div>
                    </div>
                    <div class="left_3-item-border">
                        <div class="left_3-item-border_inside-2"></div>
                    </div>
                    <div class="left_3-item">
                       <div class="left_3-item-text"><%=user.skills[3]%></div>
                       <div class="left_3-item-text">75%</div>
                    </div>
                    <div class="left_3-item-border">
                        <div class="left_3-item-border_inside-4"></div>
                    </div>
                    <div class="left_3-item">
                       <div class="left_3-item-text"><%=user.skills[4]%></div>
                       <div class="left_3-item-text">85%</div>
                    </div>
                    <div class="left_3-item-border">
                        <div class="left_3-item-border_inside-5"></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <div class="left_3-item-languages">Extra Skills</div>
                    <div class="left_5-item">
                   <div><img src="icon/Icons.svg" class="icon-1"></div>
                        <div class="left_3-item-text"><%=user.extra_skills[0]%>, <%=user.extra_skills[1]%></div>
                    </div>
                    <div class="left_5-item">
                    <div><img src="icon/Icons.svg" class="icon-1"></div>
                        <div class="left_3-item-text"><%=user.extra_skills[3]%>, <%=user.extra_skills[4]%>, <%=user.extra_skills[7]%></div>
                    </div>
                    <div class="left_5-item">
                    <div><img src="icon/Icons.svg" class="icon-1"></div>
                        <div class="left_3-item-text"><%=user.extra_skills[5]%>, <%=user.extra_skills[6]%></div>
                    </div>
                    <div class="left_5-item">
                   <div><img src="icon/Icons.svg" class="icon-1"></div>
                        <div class="left_3-item-text"><%=user.extra_skills[8]%></div>
                    </div>
                </div>
            </div>
            <div class="midd_frame">
                <div class="midd_frame-1">
                    <div class="midd_frame-left">
                      <div class="midd_frame-left-text"> Doctor neurologists in OHSU Hospital </div>
                      <div class="midd_frame_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Et, volutpat feugiat placerat 
                        lobortis. Natoque rutrum semper sed suspendisse 
                        nunc lectus.</div>
                      <div class="midd_frame-btn"><h1>HIRE ME</h1> 
                        <div class="midd_frame-btn-img"><img src="icon/Vector.svg" ></div>
                      </div>
                    </div>
                    <div class="midd_frame-right"><img src="images/midd_img.svg" ></div>
                </div>
                <div class="midd_frame-2">
                    <div class="midd_frame-2-text">
                        <h1 class="midd_frame-2-h">My Services</h1>
                        <p class="midd_frame-2-p">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.lorem ipsum</p>
                    </div>
                    <div class="cards">
                    <div class="card">
                        <div class="card_icon"><img src="icon/card1.svg"></div>
                        <div class="card_text">Web Development</div>
                        <div class="card_text-2">Blog, E-Commerce</div>
                    </div>
                    <div class="card">
                        <div class="card_icon"><img src="icon/card2.svg"></div>
                        <div class="card_text">UI/UX design</div>
                        <div class="card_text-2">Mobile App, Website Design</div>
                    </div>
                    <div class="card">
                        <div class="card_icon"><img src="icon/card3.svg"></div>
                        <div class="card_text">Sound Design</div>
                        <div class="card_text-2">Voice Over, Beat Making</div>
                    </div>
                    <div class="card">
                        <div class="card_icon"><img src="icon/card4.svg" ></div>
                        <div class="card_text">Game Design</div>
                        <div class="card_text-2">Character Design, Props & Objects</div>
                    </div>
                    <div class="card">
                        <div class="card_icon"><img src="icon/card5.svg"></div>
                        <div class="card_text">Photography</div>
                        <div class="card_text-2">Portrait, Product Photography</div>
                    </div>
                    <div class="card">
                      <div class="card_text">advertising</div>
                      <div class="card_text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </div>
                      <div class="card_icon"><img src="icon/ordernow.svg"></div>
                    </div>
                

                   </div>
                </div>
            </div>
            <div class="right_frame">
                     <div class="right_frame">
              <div class="point"><img src="btn_icon/r1.svg" alt=""></div>
              <div class="right_frame-icons">
                    <div class="right_frame_icon"><a href=""><img src="btn_icon/r2.svg"></a></div>
                    <div class="right_frame_icon"><a href=""><img src="btn_icon/r3.svg"></a></div>
                    <div class="right_frame_icon"><a href=""><img src="btn_icon/r4.svg"></a></div>
                    <div class="right_frame_icon"><a href=""><img src="btn_icon/r5.svg"></a></div>
                    <div class="right_frame_icon"><a href=""><img src="btn_icon/r7.svg"></a></div>
                    <div class="right_frame_icon"><a href=""><img src="btn_icon/r6.svg"></a></div>
              </div>
        </div>
    </div>
</body>
</html>